#content{
    margin: 0 auto;
    max-width: 1600px;
}

#background {
    height: 725px;
    background-color: bisque;
}

main section{
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

body {
    background-color: #fcfbfb; 
    font-family: Georgia, Tahoma, Arial;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header {
    background-color:rgba(20,30,13, .7);
    font-family: Verdana, Garamond, Tahoma;
}

nav a:hover {
    background-color: black;
}

nav a:hover {
    background-color: black;
    color: #d9c2a3;
}  

.logo{
    width: 80px;
}

.icon {
    width: 80px;
    padding: 10px;
}

nav a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
    padding: 35px;
}  

footer{
    background-color: bisque;
    text-decoration: none;
    padding: 25px 50px;
    margin-top: 200px;
}

footer p {
    font-size: 1.2em;
    background-color: bisque;
}    

footer p a{
    text-decoration: none;
}

footer p a:hover {
    text-decoration: underline;
}  

.msg{
    background-color: #6f7364;
    line-height: 1.5em;
    padding: 35px;
}

.msg h2{
    background-color: bisque;
    color: black;
    font-family: Garamond;
}

.msg p{
    background-color: bisque;
    color: black;
    font-size: .8em;
    padding: 15px;
}

.book, .join {
    background-color: #d9c2a3;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

#hero-img{
    width: 100%;
}

#hero-msg{
    text-align: center;
}

.card-img {
    border: 10px solid #d9c2a3;
}

.rivers-card, .camping-card, .rapids-card{
    text-align: center;
    margin: 200px 0;
}

.home-title {
    font-size: 2em;
    margin-top: 10px;
}

h2 {
    margin: 0;
}

#logo_link{
    padding: 5px;
}

footer .social img{
    padding-top: 15px;
}

.mountians{
    margin: 100px 0;
}