#content{
    margin: 0 auto;
    max-width: 1600px;
}

#background {
    height: 725px;
    background-color: bisque;
}

main section{
    text-align: center;
}

body {
    background-color: #fcfbfb; 
}

header {
    background-color:rgba(20,30,13, .7);
}

nav a:hover {
    background-color: black;
}

nav a:hover {
    background-color: black;
    color: #d9c2a3;
}  

.logo{
    width: 80px;
}

.icon {
    width: 80px;
}

nav a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
}  

footer{
    background-color: bisque;
    text-decoration: none;
}

footer p {
    font-size: 1.2em;
    background-color: bisque;
}    

footer p a{
    text-decoration: none;
}

footer p a:hover {
    text-decoration: underline;
}  

.msg{
    background-color: bisque;
}

.msg h2{
    background-color: bisque;
    color: black;
}

.msg p{
    background-color: bisque;
    color: black;
}

.join{
    background-color: grey;
    text-decoration: none;
}

.book{
    background-color: bisque;
    text-decoration: none;
}

#hero-img{
    width: 100%;
}

#hero-msg{
    text-align: center;
}

.rivers-card{
    text-align: center;
}

.camping-card{
    text-align: center;
}

.rapids-card{
    text-align: center;
}